<!DOCTYPE html>

<html lang="en">
    <head>
        {% extends 'base.html' %}
        {% load static %}
    </head>
    
    <body>
        {%  block content %}
        <div class="container">
            <form method="POST" class="z-depth-2" enctype="multipart/form-data"  style="padding: 10px; margin: 10px;border-radius: 4px;"> 
                {% csrf_token %}
                <fieldset class="form">
                <legend class="button">Editar campos </legend>
            
                {{ u_form }}
                <br>
                {{ p_form }}
                </fieldset>
                <br>
                <div class="form-group">
                <button class="btn waves-effect waves-light" type="submit"> actualizar</button>
        
                </div>
            </form>
         </div>
        {% endblock content %} 
    </body>
</html>

