<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
    {% load static %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Login</title>
    </head>
    <body>
        {% block content%}
        <div class="container minh">
            <h3>Esperamos tu regreso!</h3>
            <div class="borde">
                <small class="texto"> 
                <h5> Ya tengo una cuenta <a href="{% url 'login' %}"> Login </a> </h5>
                </small>
            </div>
        </div>
        {% endblock %}
     
    
    </body>
</html>