{% extends 'base.html' %}
{% load static %}
{%  block content %}
<h2> Listo!</h2>
<div class="container">
    <small class="text-muted">
        <h3> Tu contraseña ha sido restablecida con exito</h3>
    </small>
    <a href="{% url 'login'%}">Iniciar Sesion</a>
</div>
{%  endblock content %}